.center {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.content {
    margin-left: 20px;
}
.price {
    color: green;
}
categories {
    margin: 5px;
    font-size: 18px;
}
h2 {
    font-weight: normal;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
li {
    margin-bottom: 3px;
    margin-left: 25px;
    font-size: 18px;
}
* {
    margin: 0 auto;
    padding: 0;
}